@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --cor-de-fundo: #ebecee;
    --cor-branco: #FFFFFF;
    --cor-laranja: #EB9B00;
    --cor-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

body{
    background-color: var(--cor-de-fundo); 
}

.cabecalho{
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__menu{
    width: 24px;
    height: 24px;
    background-image: url(../imgs/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu{
    display: block;
}

.lista-menu__titulo,
.lista-menu__item{
    padding: 1em;
    background-color: var(--cor-branco);
}

.lista-menu__titulo{
    color: var(--cor-laranja);
    font-weight: 700;
}

.lista-menu__link{
    background: var(--cor-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

