@import url(/assets/css/reset.css);
@import url(/assets/css/global.css);
@import url(/assets/css/components/_navigator.css);
@import url(/assets/css/components/_pills.css);
@import url(/assets/css/components/_links-button.css);
@import url(/assets/css/components/_gallery.css);

.wrapper{
    display: flex;
    height: 100vh;
    flex-flow: row nowrap;
}

.wrapper video{
    position: fixed;
    width: 100%;
}

.wrapper .left__column{
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding-right: 50px;
    left:0;
    top: 0;
    z-index: 1;
}

.wrapper .main__content{
    height: 100%;
    width: 100%;
    padding-left: 130px;
    position: relative;
}

.wrapper .main__content__top{
    height:80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.wrapper .main__content__bottom{
    height:20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.wrapper .main__content .logo img{
    margin-top: 50px;
    margin-left: 0;
    margin-bottom: 30px;
}

.wrapper .main__content__top .description{
    background-color: rgba(0,0,0,.7);
    max-width: 50%;
    padding: 20px;
    border-radius: 10px;
}

.wrapper .main__content__top .description .description__text p{
    color: white;
    line-height: 170%;
}

.wrapper .main__content__top .description .pills{
    margin-bottom: 20px;
}

.wrapper .main__content .links{
    padding: 20px;
    padding-left: 0;
}

.wrapper .main__content .links ul{
    display:flex;
    flex-direction: row;
}

    

.spiderman__01__01{
    background-image: url(/assets/images/spiderman-tobey/movie-01/background.png);
    background-size: cover;
}

.spiderman__01__02{
    background-image: url(/assets/images/spiderman-tobey/movie-02/background.png);
    background-size: cover;
}

.spiderman__01__03{
    background-image: url(/assets/images/spiderman-tobey/movie-03/background.png);
    background-size: cover;
}

.spiderman__02__01{
    background-image: url(/assets/images/spiderman-tom/movie-01/background.png);
    background-size: cover;
}

.spiderman__02__02{
    background-image: url(/assets/images/spiderman-tom/movie-02/background.png);
    background-size: cover;
}

.spiderman__02__03{
    background-image: url(/assets/images/spiderman-tom/movie-03/background.png);
    background-size: cover;
}

.spiderman__03__01{
    background-image: url(/assets/images/spiderman-andrew/movie-01/background.png);
    background-size: cover;
}

.spiderman__03__02{
    background-image: url(/assets/images/spiderman-andrew/movie-02/background.png);
    background-size: cover;
}


