:root{
    --background-color: rgb(247, 218, 184);
    --background-formulario: ;
    --border: 0.2em solid rgb(12, 12, 12);
    --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --font-size: 18px;
}

body{
    background-color: var(--background-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 3em 0;
}

.container__formulario{
    background-color: rgb(158, 224, 224);
    width: 50%;
    padding: 2em;
    display: flex; 
    flex-direction: column;
    align-items:center;
    margin: 2em 0;
    border-radius: 3em;
}

h1{
   margin-bottom: 1em;
}

.formulario-exemplos{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 80%;
}

.exemplos-label, p{
    padding: 0.5em 0;
}

.exemplos-input{
    text-align: center;
    font-size: 14px;
    width: 100%;
    height: 40px;
    border: var(--border);
    border-radius: 0.3em;  
}

.checkboxes, .selecionar{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0.5em 0;
}

.checkboxes-input, .selecionar-input{
    margin: 0 0.5em;
    width: 24px;
}

#imagem{
    background: none;
    border: none;
    width: 120px;
    height: 120px;
    margin-top: 1em;
}

.botoes{
    margin: 2em 0;
}

.botao-resetar, .botao-enviar{
    background-color: rgb(192, 252, 232);
    font-family: var(--font-family);
    font-size: var(--font-size);
    width: 90px;
    height: 50px;
    border: var(--border);
    border-radius: 1em;
}

.botao-resetar{
    margin-right: 3em;
}

