*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif ;
}

body {
  background-color: #d4d4d4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  font-size: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #2b2b2b;
  padding: 2rem 4rem;
  border-radius: 2rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
  width: 460px;
  color: #ffffff;
}

h1 {
  text-align: center;
  color: #ffffff;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

input[type="text"] {
  flex-grow: 1;
  padding: 0.8rem;
  border: 0.2rem solid #ccc;
  border-radius: 1rem;
}

button {
  padding: .5rem 1.2rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5rem;
  cursor: pointer;
  font-size: 1.2rem;
}

button:hover {
  background-color: #0056b3;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  border-bottom: .1rem solid #eee;
}

li:last-child {
  border-bottom: none;
}

li span {
  flex-grow: 1;
  font-size: 1.4rem;
  padding-right: .8rem;
}

li.concluida span {
  text-decoration: line-through;
  color: #888;
}

li button {
  background-color: #28a745;
  font-size: 1rem;
  padding: .5rem;
}

li.concluida button {
  background-color: #dc3545;
}