* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Segoe UI" sans-serif;
    font-size: 14px;
}

:root {
    --color-primaria: #ffffff;
    --color-secundaria: #2373eb;
    --color-terciaria: #807b7b;
}

body {
    width: 100%;
    min-width: 100vh;
    background-color: var(--color-primaria);
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 70%;
    height: 100vh;
}

.container__phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.container__phone img {
    height: 50rem;
}

.container__continue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    min-height: 34rem;
}

.continue__group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.3rem 0;
    border: 0.063rem solid var(--color-terciaria);
}

.continue__group:nth-child(1) {
    min-height: 19rem;
}

.group__logo {
    height: 3rem;
}

.group__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.group__profile img {
    height: 6rem;
}

.group__login {
    background-color: var(--color-secundaria);
    color: var(--color-primaria);
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.group__logout {
    color: var(--color-secundaria);
    margin-top: 1rem;
}

.group__not__account {
    color: var(--color-terciaria);
}

.account__link {
    color: var(--color-secundaria);
}

.continue__app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.app__download {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 1rem;
}

.download__button {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.download__button:nth-child(1) {
    background-image: url(/img/apple-button.png);
}

.download__button:nth-child(2) {
    background-image: url(/img/googleplay-button.png);
}

@media (max-width:1024px) {
    .container {
        width: 90%; 
    }
}

@media (max-width:768px) {

    .container {
        width: 90%; 
        justify-content: center;
    }

    .container__phone {
        display: none;
    }

    .container__continue {
        justify-content: center;
        width: 90%;
           
    }

    .continue__group {
        border: 1px solid transparent;
    }
}

