body{ 
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(221, 154, 154);
    color: rgb(255, 255, 255);
    padding:5px 50px;
}

body, main, section{
    display: flex;
    flex-direction: column;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    margin: 0;
    list-style: none;
}

nav ul li:hover{
    transition: 1s;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}



h1{
    font-size: 60px;
}
#imagem{
    width: 220px;
}