body {
  font-family: Arial, sans-serif !important;
  background: linear-gradient(135deg, #4a90e2, #50c878) no-repeat center center fixed;
}

@media screen and (min-width: 720px) {
  main{
    width: 40%;
  }
}