@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url(./reset.css);

@font-face{
    font-family: Play;
    src: local(), url('../fonts/PlaywriteGBS-Regular.ttf');
}

body,.container{
    width: 100vw;
    height: 100vh;
    background-color: #000000;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 3em 0;
    padding: 3em 0;
    font-size: 20px;
    background-color: #6678cab0;
    color: rgb(255, 255, 255);
}

.card>div{
    padding: 1em;
}

#lista-cores>li:first-child{
    background: aqua;
}

#lista-cores>li:nth-child(2){
    background: green;
    color: rgb(0, 0, 0);
    border: 3px solid currentColor;
}

#lista-cores>li:nth-child(3){
    background: #6d0202;
}

#lista-cores>li:nth-child(4){
    background: #6619194f;
}

#lista-cores>li:nth-child(5){
    background: rgb(66, 66, 194);
}

#lista-cores>li:nth-child(6){
   background: rgba(55, 216, 23, 0.39);
}

#lista-cores>li:nth-child(7){
    background: hsl(19, 87%, 47%);
}

#lista-cores>li:nth-child(8){
    background: hsla(298, 89%, 48%, 0.397);
}

.imagens>div{
    border: #6619194f 3px solid;
    margin: 2em;
}

.imagens>div>img{
    width: 200px;
    height: 300px;
}

code{
    background: #bd6716;
}

#fill>img{
    object-fit:fill;
    
}

#contain>img{
    object-fit:contain;
}

#cover>img{
    object-fit: cover;
}

#none>img{
    object-fit: none;
}

#scale-down>img{
    object-fit: scale-down;
}

#position>img{
    object-fit: cover;
    object-position: right center;
    /* object-position: -290px 50%; */
}

.fundo>div{
    border: #6619194f 3px solid;
    margin: 2em 0;
    width: 440px;
    height: 250px;
}

#fundo-image{
    background-image: repeating-linear-gradient(to top, rgb(133, 16, 35) 0 20px, rgb(68, 54, 199) 20px 40px);
}

#fundo-auto{
    background-image: url('../img/Kirby-Background-PNG.png');
    background-size: auto;
}

#fundo-cover{
    background-image: url('../img/Kirby-Background-PNG.png');
    background-size: cover;
}

#fundo-contain{
    background-image: url('../img/Kirby-Background-PNG.png');
    background-size: contain;
}

#fundo-valor{
    background-image: url('../img/Kirby-Background-PNG.png');
    background-size: 80px;
}

#fundo-valor2{
    background-image: url('../img/Kirby-Background-PNG.png');
    background-size: 80px 50%;
}

#fundo-camadas{
    background-image: url('../img/Kirby-Background-PNG.png'),url('../img/kirby.jpg');
    background-size: 40px 20%, cover;
}

#fundo-norepeat,#fundo-rx,#fundo-ry,#fundo-space,#fundo-round{
    background-image: url('../img/Kirby-Background-PNG.png');
    background-size: 40%,cover;
}

#fundo-norepeat{
    background-repeat: no-repeat;
}

#fundo-rx{
    background-repeat: repeat-x;
}

#fundo-ry{
    background-repeat: repeat-y;
}

#fundo-space{
    background-repeat: space;
}

#fundo-round{
    background-repeat: round;
}

#posicionamento{
    background-image: url('../img/Kirby-Background-PNG.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center 20px;
}

#fixed,#scroll,#local{
    background-image: url('../img/Kirby-Background-PNG.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
}

#fixed{
    background-attachment: fixed;
}

#scroll{
    background-attachment: scroll;
}

#local{
    background-attachment: local;
}

#origin-padding, #origin-border, #origin-content{
    background-image: url('../img/kirby.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 30px;
    width:  500px;
    height: 400px;
    border: #ffffff 8px dotted;
}

#origin-padding{
    background-origin: padding-box; 
}

#origin-border{
    background-origin: border-box;
}

#origin-content{
    background-origin: content-box;
}

#clip-padding, #clip-border, #clip-content, #text{
    background:url('https://www.pixelstalk.net/wp-content/uploads/2016/04/Images-abstract-minimalist-wallpaper-HD.jpg');
    background-repeat: no-repeat;
    padding: 30px;
    width: 400px;
    height: 400px;
    border: #000000 8px dotted;
    font-size: 50px;
    text-transform: uppercase;
}

#clip-padding{
    background-clip: padding-box;
}

#clip-border{       
    background-clip: border-box;    
}

#clip-content{
    background-clip: content-box;
}

#text{
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

#mesclagem{
    background-color: #aa0d0d;
    background-image:url('https://www.pixelstalk.net/wp-content/uploads/2016/04/Images-abstract-minimalist-wallpaper-HD.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-clip: padding-box;
    padding: 30px;
    width: 400px;
    height: 400px;
    border: #000000 8px dotted;
    font-size: 50px;
    text-transform: uppercase;
    background-blend-mode:screen;
}

#borda1,#borda2{
    width: 200px;
    height: 200px;
    margin: 50px 0;
    background-color: tomato;
    /* border-radius: 50%; */
}

#borda1{
    /* border: rgb(255, 255, 255) 10px solid; */
    
    /* border-bottom: #000000 10px solid;
    border-top: #10b91e 10px double; */
    
    /* border-width: 20px 10px;
    border-style: solid;
    border-color: red blue; */
    
    /* border-image-source: url('https://www.pixelstalk.net/wp-content/uploads/2016/04/Images-abstract-minimalist-wallpaper-HD.jpg');
    border-image-width: 15px;
    border-image-slice: 145;
    border-image-repeat: round;
    border-image-outset: 24px 40px; */

    border-image: url('https://www.pixelstalk.net/wp-content/uploads/2016/04/Images-abstract-minimalist-wallpaper-HD.jpg') 145 / 15px / 24px 40px round;
}      

#borda2{
    border-image-source: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 36%, rgba(6,87,173,1) 66%, rgba(0,212,255,1) 100%);
    border-image-width: 10px 20px 5px;
    border-image-slice: 1;
}

.fontes>h2{
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: Play;
    font-weight: 700;
    font-variant: small-caps;
}
.fontes>p{
    /* <weight>: Use a value from 100 to 400 */

    /* font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
    font-variant: small-caps;
    font-size: 18px;
    line-height: 2; */

    font: italic small-caps 200 18px/2 "Playwrite GB S", cursive; 
}

.textos{
    width: 550px;
}

#text1{
    text-transform:uppercase;
    text-align: justify;
    text-decoration:underline dotted red 3px;
    text-indent: 40px;
    letter-spacing: 10px;
    overflow: hidden;
    /* word-break:break-all; */
    white-space: nowrap;
    text-overflow: ellipsis; 
}

#text2{
    background-color: rgb(75, 5, 5);
    text-decoration: underline wavy rgb(59, 145, 2) 2px;
    text-align: center;
    word-spacing: 40px;
    /* white-space: nowrap; */
    word-wrap: break-word;
    writing-mode:vertical-rl;
}

.textos>a{
    text-decoration: none;
}

#img-sombra{
    width: 400px;
    height: 400px;
    background-image: url(../img/Kirby-Background-PNG.png);
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(20px 20px 10px #000000);

}	

#caixa-sombra{
    width: 300px;
    height: 300px;
    border: 3px solid #ec0c0c;
    box-shadow:inset 30px 30px 20px -7px #000000,30px 30px 20px -7px #0a9ea3;
}

#caixa-sombra>p{
    font-size: 40px;
    text-shadow: 5px 5px 5px #09ff00;
}

.outros>div{
    margin: 18px;
}

#transparencia{
    padding: 15px;
    border: #000000 5px solid;
    background-color: rgb(196, 59, 14);
    font-size: 24px;
    text-align: center;
}

#transparencia img{
    width: 400px;
    opacity: .5;
}

#overflow-hidden{
    width: 400px;
    height: 400px;
    padding: 5px 20px;
    border: #000000 5px solid;
    background-color: rgb(196, 59, 14);
    font-size: 24px;
    text-align: justify;
    overflow:hidden;
}

#overflow-scroll{
    width: 400px;
    height: 400px;
    padding: 5px 20px;
    border: #000000 5px solid;
    background-color: rgb(196, 59, 14);
    font-size: 24px;
    text-align: justify;
    overflow:scroll;
}

#overflow-y-x{
    width: 600px;
    height: 400px;
    padding: 5px 20px;
    border: #000000 5px solid;
    background-color: rgb(196, 59, 14);
    font-size: 24px;
    text-align: justify;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

#overflow-auto{
    width: 400px;
    height: 400px;
    padding: 5px 20px;
    border: #000000 5px solid;
    background-color: rgb(196, 59, 14);
    font-size: 24px;
    text-align: justify;
    overflow:auto;
}

