@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-de-fundo: #00030C;
    --branco-primario: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --botao-azul-hover: #5396e7;
    --link-hover: #167BF7;
    --link-active: #830f79;

    --fonte-principal: 'Inter', sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-primario);
    font-family: var(--fonte-principal);
}

.principal {
    background-image: url(images/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 1.75rem;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 1em;
    text-decoration: none;
    color: var(--branco-primario);
    display: block;
    font-size: 1rem;
    margin-bottom: 1em;
}

.container__botao:hover {
    background-color: var(--botao-azul-hover);
}

.botao__secundario {
    background-color: transparent;
    border: 1px solid var(--branco-primario);
}

.botao__secundario:hover {
    background-color: transparent;
}

.container__aviso {
    color: var(--cinza-secundario);
    font-weight: 400;
    font-size: 0.75rem;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.container__descricao {
    padding: 2em;
}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    font-size: 3rem;
    margin-bottom: 0.1em;
}

.descricao__paragrafo {
    color: var(--cinza-secundario);
}

.botao__terciario {
    display: inline-block;
    margin-top: 1em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3rem;
    color: var(--branco-primario);
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 2.5em 0;
}

.lista__item {
    font-size: 2rem;
    color: var(--branco-primario);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__logo {
    margin-top: 9.06em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a {
    text-decoration: none;
    color: var(--branco-primario);
    margin-left: 1em;
}

.lista__link a:hover {
    color: var(--link-hover);
}

.lista__link a:active {
    color: var(--link-active)
}

.lista__link a:focus {
    color: var(--link-active)
}

.rodape__paragrafo {
    font-size: 0.875rem;
    color: var(--cinza-secundario);
    margin: 1em 0;
}

@media (max-width: 975px){
    .principal{
        background-image: url(images/Background_m.png);
        width: auto;  
    }
    .container__caixa{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: -10% 8%;
    }
    .container {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        margin: auto;
    }

    .dispositivos{ 
        padding-top: 100%;
        margin: 5%;
    }

    .dispositivos__lista{
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .rodape{
        margin: 10% 5%;
    }

    .rodape__logo{
        padding-left: 8%;
    }

    .rodape__lista{
        margin: 5% 0;
        flex-direction: column;
    }

    .lista__link{
        margin: 1% 0;
    }
    
}