* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    background-color: #777777;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    width: 400px;
    transition: background-color .5s;
    background-color: #2c2c2c;
    border-radius: .2rem;
    text-align: center;
}

.border {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #833ab4, #ffffff, #fb5407);
    background-size: 400% 400%;
    padding: .5rem;
    border-radius: .5rem;
    animation: gradient 15s ease infinite;
}

.hover:hover:last-child {
    background-color: #fff;
    color: #000000;
}

.container button {
    padding: .8rem;
    border-radius: 2rem;
    border: none;
    background-color: #833AB4;
    box-shadow: 0 .4rem 4rem #000000;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    width: 150px;
}

.container p {
    background-color: #833AB4;
    padding: .8rem;
    font-weight: 600;
    width: 220px;
    text-align: center;
    word-break: break-all;
}

.container select,
.container input,
.container form input {
    border: none;
    padding: .5rem;
    width: 200px;
    font-size: .9rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

/* #botao-mudar-cor{
    background-color: #000000;
} */

/* #botao-mudar-cor:hover{
    background-color: #fff;
    color: #000000;
} */

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border: 2px dotted #cc7d7d;
    padding: 1rem;
    margin: 1rem;
    width: 200px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#lista {
    background-color: #fb5407;
    width: 200px;
}

#lista li {
    font-size: 1.4rem;
}

#painel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

#painel button {
    width: 200px;
    height: 50px;
}

#painel button:nth-child(1) {
    background-color: #0a8899;
}

#painel button:nth-child(2) {
    background-color: #0f7c1a;
}

#painel button:nth-child(3) {
    background-color: #F01D0A;
}

#painel button:nth-child(1):hover, #painel button:nth-child(2):hover, #painel button:nth-child(3):hover {
    border: #ffffff solid 2px;
}   